@model Payer.Models.Transaction

<h1>TAX INVOICE</h1>

<div style="float:left">
    <input  type="tel" pattern="[0]{1}[5]{1}[0-9]{1}[0-9]{7}" placeholder="05xxxxxxxx" id="customerPhone" rows="1" maxlength="10" name="phone" style="width:150px;" onchange="telNum()" required/>   
    <label  style="margin-right:20px">:Enter Phone Number</label>
</div>

     
 
    <table class="table table-bordered" id="table" style="text-align: left;">

        <thead>

            <tr>
                <th scope="col">Checks</th>
                <th scope="col">#</th>
                <th scope="col">Particulars</th>
                <th scope="col">Amount</th>
                <th scope="col" hidden>Phone Number</th>


            </tr>

        </thead>
        <tbody>


            @for (int i = 0; i < @Model.TransactionItems.Count; i++)
            {

                var transactionItem = @Model.TransactionItems[i];
                
<tr onchange="checkedIteeemm(this)">

    <td><input id="checkedItem" type="checkbox" disabled></td>
    <td id="index">@(1 + i)</td>
    <td>@transactionItem.Item.Name</td>
    <td id="price">@transactionItem.Item.Price</td>
    <td id="phoneNum" hidden>@transactionItem.CustomerId</td>



</tr>}
        </tbody>
    </table>


    <script type="text/javascript">
        var statPhone;
        var flagg;
        function telNum() {
            var flag = 0;
            if (statPhone != null) {
                document.getElementById("amountArea").value = 0;
                totAmount = 0;

            }
            var number = document.getElementById("customerPhone").value;

                if (number[0] != '0' || number[1] != '5' || number.length < 10) {
                    alert("Enter a valid phone number in this format: 05xxxxxxxx");
                    flag = 1;
                }
                else {
                    for (var i = 2; i < number.length; i++)
                        if (number[i] < '0' || number[i] > '9') {
                            alert("Enter a valid phone number in this format: 05xxxxxxxx");
                            flag = 1;
                        }
                }

            if (flag == 0) {
                document.getElementById("payy").removeAttribute('disabled');
                document.getElementById("tipArea").removeAttribute('disabled');
                var vall = document.getElementById("table").getElementsByTagName('input').length;


                for (var i = 0; i < vall; i++) {

                    if ((document.getElementById("table").rows[i+1].cells[4].innerHTML) == "") {

                        document.getElementById("table").getElementsByTagName('input')[i].removeAttribute("disabled");
                    }
                   else if (("0" + document.getElementById("table").rows[i+1].cells[4].innerHTML) == number) {
                        document.getElementById("table").getElementsByTagName('input')[i].removeAttribute("disabled");
                        document.getElementById("table").getElementsByTagName('input')[i].checked = true;
                        var amount = document.getElementById("amountArea").value;
                        var price = document.getElementById("table").rows[i + 1].cells[3].innerHTML;
                        document.getElementById("amountArea").value = (parseInt(amount) + parseInt(price)).toString();
                        totAmount += parseInt(price);
                    }
                    else {
                        document.getElementById("table").getElementsByTagName('input')[i].checked = true;
                        document.getElementById("table").getElementsByTagName('input')[i].disabled = true;

                    }

                }
                statPhone = number;

            }


        }
        var totAmount = 0
        function checkedIteeemm(x) {
            var r = x.rowIndex;
            var vall = document.getElementById("table").getElementsByTagName('input')[r - 1].checked == true;
            var amount = document.getElementById("amountArea").value;
            var price = document.getElementById("table").rows[r].cells[3].innerHTML;
            var nameOfItem = document.getElementById("table").rows[r].cells[2].innerHTML;
            if (vall) {
                document.getElementById("amountArea").value = (parseInt(amount) + parseInt(price)).toString();
                totAmount += parseInt(price);
                flagg = 1;
                document.getElementById("table").rows[r].cells[4].innerHTML = parseInt(statPhone);
            }
            else{
                document.getElementById("amountArea").value = (parseInt(amount) - parseInt(price)).toString();
                totAmount -= parseInt(price);
                flagg = 0;
                document.getElementById("table").rows[r].cells[4].innerHTML = null;

            }

            $.ajax({
                url: "/Default/Transactions/checkNewItem",
                type: 'post',
                data: { 'phone': statPhone, 'itemName': nameOfItem, 'tranId': @Model.Id ,'flag' : flagg},
                cache: false,
                success: function (response) {
                    if (response == true)
                        alert("done!");
                },
                error: function (response) {
                    alert("Error");
                },

            });


        }

        function toPayButton() {

            //window.location.href = Q.resolveUrl('~/Default/Transactions/DisplayQrCode?id=' + id);

            $.ajax({
                url: '/Default/Transactions/PayButton',
                type: 'POST',
                contentType: "text",
                cache: false,
                //dataType: 'script',
                //contentType: "application/json; charset=utf-8 
                data: {
                    itemName: 'azoze'
                },
                success: function (response) {
                    window.location.href = '/Default/Transactions/PayButton';
                     alert("done");
                   //$('p').append(data)
                },
                

        });
        }

        var statTip = 0;
        function addTip() {
            var tip = document.getElementById("tipArea").value;
            var amount = document.getElementById("amountArea").value;

            if (tip != "") {
                document.getElementById("amountArea").value = (parseInt(totAmount) + parseInt(tip)).toString();
                statTip = parseInt(tip);
            }
            else {
                document.getElementById("amountArea").value = (parseInt(amount) - parseInt(statTip)).toString();
            }
        }
    </script>


    <input type="number" min="0" id="tipArea" rows="1" name="tipAre" style="width:80px;margin-right:65px;margin-bottom:10px" value="0" onchange="addTip()" disabled/>
    <label style="margin-right:20px">:Tip</label>
    <form method="post" >
        <input type="button" class="btn btn-primary btn-sm" id="payy" value="Pay" style="margin-left:20px" onclick="toPayButton()"disabled />
        <input type="text" id="amountArea" rows="1" name="amountAre" style="width:80px" disabled value="0" />
        <label style="margin-right:20px">:Total Amount</label>

    </form>
     